$color-matblack: #222;
$color-link: #0F6F9F;
$color-link-hover: #D00000;
$fonts-serif: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
$fonts-sans-serif: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;