@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Dosis:200");
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: #202020;
  background: #FFFFFF;
  margin: 40px 0 20px 0;
  padding: 0;
  overflow-wrap: break-word;
}

a:active,
a:focus {
  outline: 0;
}

a.button {
  padding: 1px;
}

#content {
  min-width: 900px;
  width: 65%;
  margin: 0 auto;
}

@media(max-width: 1000px) {
  #content {
    width: 90%;
  }
}

@media(min-width: 1000px) and (max-width: 1700px) {
  #content {
    width: 77%;
  }
}

@media(min-width: 1700px) {
  #content {
    width: 50%;
  }
}

blockquote {
  border: 1px rgba(128, 128, 128, 0.2) solid;
  border-left: 10px rgba(30, 255, 30, 0.5) solid;
  margin-left: 0;
  margin-right: 10px;
  padding: 8px 20px 10px 40px;
  color: #555;
  font-size: 1.2em;
  line-height: 1.7em;
  overflow-x: auto;
}

blockquote span.MathJax {
  font-size: 0.8333em;
}

blockquote span.texatom span.mo {
  font-size: 120%;
}

blockquote.red {
  border-left: 10px rgba(255, 31, 31, 0.5) solid;
}

dt {
  font-weight: bold;
  font-size: 1.05em;
}

dd {
  padding: 10px;
}

dl {
  padding: 20px;
}

dd p {
  margin: 0;
}

table.bordered {
  border: black 1px solid;
}

table.bordered td {
  border: black 1px solid;
  padding: 5px !important;
}

blockquote div.footnote {
  font-size: 0.6em;
  border-top: black 1px solid;
  margin-top: 30px;
  margin-bottom: -10px;
  /* cancel parent box padding */
}

div.details {
  color: white;
  background-color: white;
  border: black 1px solid;
  padding: 5px;
}

details {
  border: black solid 1px;
  padding: 10px;
}

hr.half {
  width: 50%;
  margin: 2em auto;
}

#content {
  font-family: Georgia, Merriweather, "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
  font-size: 1em;
  line-height: 1.6em;
}

#content a {
  color: #0F6F9F;
  text-decoration: none;
}

#content a:hover {
  color: #D00000;
}


#content article {
  border-top: 1px solid #202020;
  padding: 8px 0 0 0;
}

#content article .bottom {
  width: 100%;
  color: #444444;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  line-height: 1.8;
  text-transform: uppercase;
  border-top: 1px solid #202020;
  padding-top: 1.6em;
}

#content article .bottom .notes,
#content article .bottom .tags {
  text-transform: none !important;
  margin: 0 13px 0 0;
  float: left;
}

#content article .date {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 10px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content article .bottom a {
  color: #444444;
  text-transform: none;
  text-decoration: underline;
}

#content article .bottom .timestamp {
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

#content article .bottom a:hover {
  text-decoration: underline;
}

#content article .footnotes {
  border-top: 1px solid #202020;
  padding: 8px 0 0 0;
}

#content article a.h2.title {
  color: #202020;
  font-weight: bold;
  font-style: normal !important;
  font-family: 'Noto Serif', "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif !important;
  letter-spacing: -1px;
  font-size: 1.9em;
}

#content article a:hover {
  color: #D00000;
}

#content header {
  border-bottom: 3px solid #202020;
}

#content header #header-top {
  border-bottom: 1px solid #202020;
  padding: 0 0 20px 0;
  position: relative;
}

#content header #header-top h1 {
  display: inline-block;
  color: #202020;
  font-family: Georgia, Merriweather, "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: -3px;
  text-decoration: none;
  margin: 0;
}

#content header #header-bottom {
  font-size: 0.9em;
  padding: 8px 0;
  display: block;
  font-family: 'Dosis', "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
  text-align: center;
}

#content header #header-bottom a {
  color: #447777;
  font-weight: bold;
  text-decoration: none;
}

#content figure img {
  width: 100%;
}

#content article code {
  font-size: 0.8em;
  background: #D9E5ED;
  font-family: 'Lucida Console', monospace;
  padding: 1px 4px;
}

#content article pre {
  background: #fff;
  white-space: pre-wrap;
  padding: 10px 15px;
  border: black 1px solid;
  line-height: 1.2em;
}

#content article pre>code {
  background: transparent;
  color: #555;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}