@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Dosis:200");
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #202020;
  background: #FFFFFF;
  margin: 40px 0 20px 0;
  padding: 0;
  overflow-wrap: break-word;
}

a:active,
a:focus {
  outline: 0;
}

a.button {
  padding: 1px;
}

@media(max-width: 1000px) {
  #content {
    width: 90%;
  }
}

@media(min-width: 1000px) and (max-width: 1700px) {
  #content {
    width: 77%;
  }
}

@media(min-width: 1700px) {
  #content {
    width: 50%;
  }
}
